# Build and artifacts
build
dist
bin

*.tsbuildinfo
.temp
.cache


# Optional npm cache directory
.npm

# Dependency directories
node_modules

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env
.env.*.*
!.env.sample
