
# Build and artifacts
build
dist
bin

*.tsbuildinfo
.temp
.cache

# (Most) Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# JavaScript

node_modules
auto-import.d.ts
components.d.ts

# Logs
logs
*.log
npm-debug.log*

# Metadata

.gitignore
.gitattributes
.gitconfig
.prettierignore
CODEOWNERS

# package lock files

package.*.json
package.json
