// https://sass-lang.com/documentation/variables/
$background-color: #f3f3f3 !default;
$font-color: #000 !default;
$font: Helvetica, sans, sans-serif !default;
$view-button-color: #1474fc !default;
$close-button-color: #716f6f !default;
$close-size: 16px !default;
$icon-size: 64px !default;
