@use 'vars' as settings;

.smartappbanner {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    // clipping is better than tiny scrollbars
    overflow: hidden;
    width: 100%;
    height: 80px;
    background-color: settings.$background-color;
    font-family: settings.$font;
    color: settings.$font-color;

    &__close {
        width: settings.$close-size;
        height: settings.$close-size;
        position: relative;
    }

    &__close:before,
    &__close:after {
        position: absolute;
        left: 6px;
        content: ' ';
        height: settings.$close-size;
        width: 2px;
        background-color: settings.$close-button-color;
    }

    &__close:before {
        transform: rotate(45deg);
    }

    &__close:after {
        transform: rotate(-45deg);
    }

    &__app-icon {
        display: block;
        background-size: settings.$icon-size settings.$icon-size;
        width: settings.$icon-size;
        height: settings.$icon-size;
    }

    &__description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        // match the height of the icon to align the info with it
        height: settings.$icon-size;
        color: settings.$font-color;

        &__title {
            font-size: 14px;
        }

        &__author,
        &__price {
            font-size: 12px;
        }
    }

    &__view {
        padding: 0 10px;
        min-width: 10%;
        border-radius: 5px;
        color: settings.$view-button-color;
        font-size: 18px;
        text-align: center;
        text-decoration: none;

        &__label {
            text-align: center;
        }
    }
}
